@import "tailwindcss";

body {
  font-family: 'IBM Plex Mono', monospace;
}

.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* spacing below text */
  width: 100%;
  height: 2px;
  background-color: #1d4ed8; /* Tailwind blue-700 */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-item.active::after,
.nav-item:hover::after {
  transform: scaleX(1);
}
